*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.hide {
  display: none;
}
.page__style {
  background: #6d326d;
  font-family: OpenSans-Regular, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto auto;
  overflow: hidden;
}
.page__style .page__description {
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.page__style h1 {
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}
.page__style .btn_nav {
  background: #002a32;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 17px 30px;
  min-width: 146px;
  width: auto;
}
.page__style .btn_nav:focus,
.page__style .btn_nav:active {
  outline: none;
}
.page__style a {
  text-decoration: none;
  color: #fff;
}
.page__style a:hover {
  text-decoration: underline;
}
.animate_content {
  animation: animate 3s ease;
}
.fadeIn {
  z-index: 10;
}
/*  home
-----------------------------------*/
.home {
  background: #5da9e9;
  background-image: url(../img/background.png);
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
/*  Projects
-----------------------------------*/
.projects {
  background: linear-gradient(to top left , #efceff, #c497da);
}
/*  Skills
-----------------------------------*/
.skills {
  background: #C39239;
}
/*  About
-----------------------------------*/
.about {
  background: #fb9b33;
}
/*  Contact
-----------------------------------*/
.contact {
  background: #c9cdc0;
  background-image: url(../img/background_contact.png);
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
  .page__description h1 {
    margin-top: 100px;
  }
}
@-moz-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 5px 0;
}

.item1 {
  grid-column: 3 / 3;
}

.item2 {
  grid-column: 3 / 4;
}

.item3 {
  grid-column: 2 / 5;
}

.item4 {
  grid-column: 3 / 5;
}

.item5 {
  grid-column: 1;
}

.item6 {
  grid-column: 3;
}

.item7 {
  grid-column: 5;
}

.item8 {
  grid-row: 1 / span 2;
}

.item9 {
  grid-row: 1 / span 3;
  grid-gap: 30px;
}

.home_background {
 background-image: url(../img/background.png);
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.center-2 {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.padd-left-1{
  padding-left: 5%;
}

.padd-0{
  padding-top: 2%;
}

.padd-1{
  padding-top: 5%;
}

.padd-2{
  padding-top: 12%;
}

.black {
    color: black;
}

.font-size-1 {
  font-size: 20px;
}

.font-size-2 {
  font-size: 25px;
}

.font-size-3 {
  font-size: 30px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.marg-left-1 {
    margin-left : 30%;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
    opacity: 80%;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.alert-danger {
  background: #750000;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 17px 30px;
  min-width: 146px;
  max-width: 30%;
}

.alert-success {
  background: #009e1d;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 17px 30px;
  min-width: 146px;
  max-width: 30%;
}


.grid-container-projects {
  grid-template-columns: auto auto;
  display: grid;
}

.grid-item-projects {
  font-size: 30px;
}

.grid-item-projects-1 {
  font-size: 30px;
  min-width: 290px;
}